
.backgroundtext {
  border: 3px solid #8ad1b5;
  position: relative;
  text-align: center;
  color: white;
  background: rgba(52,73,94,0.5);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 80%;
  font-weight: lighter;
  padding: 10px;
  font-size: 18px;
}

.gradient2 {
  background-image: linear-gradient(white, #8ad1b5);
  height: 800px;
  margin-top: 30px;
}
