


.buttons{
background-color:white;

}

.container {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-button {
	background-color:#8ad1b5;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:8px 23px;
	text-decoration:none;
  margin:10px 10px 10px 10px;
}
.nav-button:hover {
	background-color:#00796b;
}
.nav-button:active {
	position:relative;
	top:1px;
}
