
.gradient{
  background-image: linear-gradient(white, #8ad1b5);
}

.text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #8ad1b5;
  border: 3px solid #8ad1b5;
  position: relative;
  width: 80%;
  padding: 20px;
  text-align: center;
  color: white;
  background: rgba(52,73,94,0.5);
  width: 80%;
}
