body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
  text-align: left;
}
h1 {
  font: 20px "Century Gotic", Futura, sans-serif;
  margin: 10px 10px 11px 10px;
}

.text {
  background-image: url("");
  background-color: rgb(58,05,62); /* Fallback color */
  color: white;
  border: 3px solid #f1f1f1;
  position: relative;
  text-align: center;
  color: rgba(255,255,255,1);
  background: rgba(52,73,94,0.9);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.19) ;
  margin: auto;
  width: 80%;
  padding: 10px;
}
