body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
  color: white;
}
h1 {
  font: 20px "Century Gotic", Futura, sans-serif;
  margin: 10px 10px 10px 10px;
  color: white;
}

.parallax {
   /*The image used*/
 /*  background-color:rgb(58, 05, 62);*/
 background-image: url("fireball.png");

   /* Set a specific height*/
    height: 1000px;

    filter: blur(8px);
    -webkit-filter: blur(8px);
   /*Create the parallax scrolling effect*/ 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
}
.bg-text {
  background-image: url("");
  background-color: rgb(58,05,62); /* Fallback color */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-90%, -90%);
  width: 80%;
  padding: 20px;
  text-align: center;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(52,73,94,0.22);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.19) ;
}
