body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
  color: rgb(0, 0, 0);
}

h1 {
  font: 20px "Century Gotic", Futura, sans-serif;
  margin: 10px 10px 10px 10px;
  color: white;
  font-weight: bold;
}

body, html {
    height: 100%;
}

.page{
  color: black;
}